<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="~/Content/Home_layoutUser.css" rel="stylesheet"/>
    <link href="~/Content/css/indexAdminUser1.css" rel="stylesheet"/>
   

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />


    <script type="text/javascript" src="~/Content/index.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="~/Content/jquery-3.4.1.min.js"></script>

    <script src="~/Content/bootstrap-4.3.1-dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        a.LichSuMuaHang {
            top: 22px;
            position: absolute;
            right: 50px;
            width: 87px;
        }

        a.thongtin_user {
            top: 0px;
            position: absolute;
            right: 50px;
            width: 87px;
        }

        .Khung_tron {
            padding: 8px;
            border-radius: 10px;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <section class="header">
        <div class="menu1">
            <div class="container">
                <div class="row">
                   

                    <ul class="ul_dangkydangnhap">
                        <li><a class="dangnhap_index theodoidonhang" href="~/User/TheoDoiDonHang"><i class="fas fa-truck-moving"></i> Theo dõi đơn hàng</a></li>
                        @if (Session["IDUser"] == null)
                        {

                            <li><a class="dangnhap_index" href="~/User/SignIn"><i class="fas fa-user"></i> Đăng nhập</a></li>
                        }
                        else
                        {
                            var account = Session["FullName"].ToString();
                            var iduser = Session["IDuser"].ToString();
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fas fa-user"> @account</i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li></li>
                                    <li><a class="thongtin_user" href="@Url.Action("Details", "User")"><i class="fas fa-user-cog"></i> Thông tin tài khoản</a></li>
                                    <li><a class="LichSuMuaHang" href="@Url.Action("LichSuMuaHang", "User")"><i class="fas fa-user-cog"></i> Lịch sử mua hàng</a></li>
                                    
                                    <li><a class="dangxuat_user" href="@Url.Action("LogOut", "User")"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="~/Home/Index">
                            <img src="~/Contents/Image/Logo/Logo.png" width="70" height="70" style="margin-top:-15px" />
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="haithea">
                            <a href="" class="nut1">
                                <i class="fab fa-gratipay fb1"></i>
                                <span>Sản phẩm yêu thích @Html.Action("BagWishList", "WishList") </span>
                            </a>
                            <a href="~/ShoppingCart/ShowCart" class="nut2">
                                <i class="fas fa-shopping-cart fb2"></i>
                                <span>Giỏ hàng @Html.Action("BagCart", "ShoppingCart") </span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="~/Home/UuDaiDacBiet" style="font-weight:bold;">ƯU ĐÃI ĐẶC BIỆT<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item cha1">
                                        <a class="nav-link hover2" href="#" style="font-weight:bold;">SẢN PHẨM</a>
                                        <ul class="con1">
                                            <li><a class="sanphamsc" href="#">ĐỒ CHƠI BÉ TRAI </a></li>
                                            <li><a class="phukiensc" href="#">ĐỒ CHƠI BÉ GÁI</a></li>
                                            <li><a class="blogsc" href="#">ĐỒ CHƠI UNISEX</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="~/Home/GioiThieu" style="font-weight:bold;">GIỚI THIỆU <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Home/LienHe" tabindex="-1" aria-disabled="true" style="font-weight:bold;">LIÊN HỆ</a>
                                    </li>
                                </ul>

                                <div class="nav navbar-nav navbar-right">

                                    @using (Html.BeginForm("SearchResult", "Home"))
                                    {
                                        @Html.TextBox("search", "", new { placeholder = "Tìm kiếm...", @class = "form-control", @style = ";width: 200px; margin: 8px 0 8px 0" })
                                        <input type="submit" style="display: none;" />
                                    }
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="102836458355065"
         logged_in_greeting="Calasu Toy xin chào bạn ạ! Bạn có cần tư vấn gì để chúng mình giúp không ạ?"
         logged_out_greeting="Calasu Toy xin chào bạn ạ! Bạn có cần tư vấn gì để chúng mình giúp không ạ?">
    </div>

    @RenderBody()
    <footer>
        <div class="foot">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="~/Home/Index"><img class="hinhfooter" src="~/Contents/Image/Logo/MyKingDom.jpg" alt=""></a>
                    </div>
                    <div class="col-sm-3">
                        <p class="blog">BLOG</p>
                        <div class="gachduoi"></div>
                        <ul class="li4">
                            <li><a href="">Emai: calasutoy@gmail.com</a></li>

                            <li><a href="">Địa chỉ:155 Sư Vạn Hạnh P12 Q.1O</a></li>
                            <li><a href="tel://0333826861"><span>Số điện thoại: 0333826861</span></a></li>

                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <p class="blog1">SITE MAP</p>
                        <div class="gachduoi"></div>
                        <div class="li7">
                            <ul class="li5">
                                <li><a href="~/Home/Index">Trang chủ</a></li>
                                <li><a href="~/Home/AllProducts">Sản phẩm</a></li>
                                <li><a href="#">Thương hiệu</a></li>
                                <li><a href="~/Home/Contact">Liên hệ</a></li>
                                <li><a href="~/User/LichSuMuaHangHVL">Lịch sử mua hàng khách hàng vãng lai</a>

                            </ul>
                            <ul class="li5 li6">
                                <li><a href="~/Home/UuDaiDacBiet">Khuyến mãi</a></li>
                                <li><a href="">Về chúng tôi</a></li>
                                <li><a href="">Mã số thuế: 029000xx</a></li>
                                <li><p>Copyright © 2020 All Rights Reserved by <a href="~/Admin/SignIn">CalasuToy</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p class="blog3">CONTACT US</p>
                        <div class="gachduoi"></div>

                        <ul class="li5">
                            <li><i class="fab fa-facebook-square fb"></i><a href=""> familySTEAM</a></li>
                            <li><i class="fas fa-envelope fb"></i><a href=""> familySTEAM.com.vn</a></li>


                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class="nutscroll">
            <a class="scroll" href="#"><i class="fas fa-arrow-up muiten"></i> </a>
        </div>

    </footer>
</body>
</html>
