
@model IEnumerable<ThuongMaiDienTu.Models.OrderDetail>
@{
    ViewBag.Title = "ADMIN | Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>Đơn hàng đang lấy</h1>

        <div class="col-md-12" style="padding-left: 0;">
            
            <a class="btn btn-info" href="@Url.Action("ChuaXacNhan", "User")" style="margin: 30px 0 30px 0">
                Chưa xác nhận @Html.Action("CountChuaXacNhan", "User")
            </a>
            <a class="btn btn-info" href="@Url.Action("DaXacNhan", "User")" style="margin: 30px 0 30px 0">
                Đã xác nhận  @Html.Action("CountDaXacNhan", "User")
            </a>

            <a class="btn btn-info" href="@Url.Action("DangLayHang", "User")" style="margin: 30px 0 30px 0">
                Đang lấy hàng  @Html.Action("CountDangLayHang", "User")
            </a>
            <a class="btn btn-info" href="@Url.Action("DangGiao", "User")" style="margin: 30px 0 30px 0">
                Đang giao hàng  @Html.Action("CountDangGiao", "User")
            </a>
            <a class="btn btn-info" href="@Url.Action("GiaoHangThanhCong", "User")" style="margin: 30px 0 30px 0">
                Giao hàng thành công  @Html.Action("CountGiaoThanhCong", "User")
            </a>
            <a class="btn btn-danger" href="@Url.Action("DaHuy", "User")" style="margin: 30px 0 30px 0">
                Đã hủy
            </a>
            <br />

        </div>
    </div>
<table class="table table-striped table-bordered">
    <tr class="bg-info">
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày mua
        </th>

        <th>
            Địa chỉ giao hàng
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.IDOrder
            </td>
            <td>
                @item.Order.NgayDat
            </td>

            <td>
                @item.Order.DiaChi_Cus
            </td>
            <td>
                @item.Order.Status
            </td>
            <td>
                @Html.ActionLink("Chi tiết đơn hàng", "ChiTietDonHang", new { id = item.IDOrder }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Hủy đơn hàng", "CancelOrder", new { id = item.IDOrder }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
    @if (Model.Count() == 0)
    {
        <tr>
            <td style="text-align: center; background-color: #3366cc; color: white; font-weight: bold;font-size: 20px; padding: 10px;" colspan="9">
                Không tìm thấy kết quả phù hợp.
            </td>
        </tr>
    }
</table>

</div>