@model IEnumerable<ThuongMaiDienTu.Models.Order>

@{
    ViewBag.Title = "Home| Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="font-size: 16px;text-align:center" >
    <h1>Chi tiết đơn hàng</h1>
    <div class="row">
        <div class="thumbnail" style="padding: 20px">
            @foreach (var item in Model.Take(1))
            {
                <div class="row" style="font-weight: bold; margin-bottom: 10px">
                    <div class="col-md-6 col-sm-6">
                        Mã đơn hàng:  @Html.DisplayFor(modelItem => item.IDOrder)
                    </div>
                </div>
                <div class="row" style="font-weight: bold; margin-bottom: 10px">
                    <div class="col-md-6 col-sm-6">
                        Ngày đặt:  @Html.DisplayFor(modelItem => item.NgayDat)
                    </div>

                </div>
            }
            <table class="table table-hover table-bordered">
                <tr class="bg-info">
                    <th>
                        Mã đơn hàng
                    </th>

                    <th>
                        Ngày đặt
                    </th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái đơn hàng</th>
                    <th>
                     Trạng thái thanh toán 
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDOrder)
                        </td>      
                      <td>@item.NgayDat</td>
                        <td>@item.ThanhTien</td>
                        <td>@item.Status</td>
                        <td>@item.StatusPayment</td>
                    </tr>
                }
               
            </table>
        </div>
    </div>
</div>
<div class="container">
    <button class="btn" style="display: block; margin: auto">
        @Html.ActionLink("Trở về", "Index")
    </button>
</div>
