@model ThuongMaiDienTu.Models.Administrator

@{
    ViewBag.Title = "ADMIN | Cập nhật thông tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Cập nhật thông tin nhân viên</h1>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal thumbnail" style="padding: 30px">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.HiddenFor(m => m.IDAdmin)
                    </div>
                    <div class="form-group">

                        <div class="col-md-8">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                        <div class=" col-md-4">
                            @Html.LabelFor(model => model.Role.RoleName, htmlAttributes: new { @class = "control-label" })
                            @{ Html.RenderAction("ChooseRole", "Admin");}
                            @Html.ValidationMessageFor(model => model.IDRole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            @if (ViewBag.error != null)
                            {
                                <span class="field-validation-error">@ViewBag.error</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Phone_Admin, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Phone_Admin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone_Admin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PasswordAdmin, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PasswordAdmin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PasswordAdmin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" style="display: block; margin: auto">
                            Cập nhật
                        </button>
                    </div>
                </div>
                <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            }
            <button class="btn">
                @Html.ActionLink("Trở về", "Staff")
            </button>
        </div>
    </div>
</div>

