@model IEnumerable<ThuongMaiDienTu.Models.Product>
@{
    ViewBag.Title = "Calasu  | Máy bay điều khiển";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body>
    @Html.Partial("Carousel", "Shared")

    <div class="container">
        <div class="col-md-4 col-lg-3">
            <div class="product-header">
                <h3 style="font-weight:bold; text-align:center;"> TRA CỨU GIÁ</h3>
            </div>
            <div class="thumbnail" style="margin-top: 20px; padding: 20px">
                @using (Html.BeginForm("CateTwo", "Home"))
                {
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Gia", "All", true)
                            Tất cả mức giá
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Gia", "option1")
                            Giá nhỏ hơn 50000 VNĐ
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Gia", "option2")
                            Giá từ 50000 VNĐ - 100000 VNĐ
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Gia", "option3")
                            Giá từ 100000 VNĐ - 500000 VNĐ
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Gia", "option4")
                            Giá từ 500000 VNĐ trở lên
                        </label>
                    </div>
                    <input type="submit" class="btn btn-danger" style="display: block; margin: auto" value="Tra cứu" />
                }
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="product-header">
                <h3 style="text-align:center;font-weight:bold;"> MÁY BAY ĐIỀU KHIỂN</h3>
            </div>
            @if (Model.Count() == 0)
            {
                <div class="jumbotron text-center" style="margin-top: 20px">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
            }
            else
            {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-xs-6 col-md-4">
                    <div class="product-container">
                        @if (item.SoLuong == 0)
                        {
                            <div class="product-sale" style="background-color:black;"><span>SOLD </span></div>
                        }
                        else if (item.PromotionPrice != item.Gia)
                        {
                            <div class="product-sale" style="background-color:red;"><span>SALE</span></div>}
                        <img src="~/Contents/Image/Toy/@item.Images" alt="">
                        <h3>@item.ProductName</h3>
                        @if (item.PromotionPrice == item.Gia || item.PromotionPrice <= 0)
                        {
                            <p>Giá: @item.Gia <a href="/WishList/AddToWishList/@item.IDProduct"><img src="~/Contents/Image/heart.png" style="height:15px;width:15px;"></a></p>
                        }
                        else
                        {
                            <p>Giá: <span style="color:red">@item.PromotionPrice</span>  <strike>@item.Gia</strike>  <a href="/WishList/AddToWishList/@item.IDProduct"><img src="~/Contents/Image/heart.png" style="height:15px;width:15px;"></a></p>
                        }
                        <a href="~/Home/Detail/@item.IDProduct" class="btn btn-success">Chi tiết</a>
                        @if (item.SoLuong == 0)
                        {
                            <button disabled class="btn btn-default">Giỏ hàng</button>
                        }
                        else
                        {<a onclick="addtocart()" href="/ShoppingCart/AddToCart/@item.IDProduct" class="btn btn-primary">Giỏ hàng</a>}
                    </div>
                </div>
            }
        </div>
            }

        </div>
    </div>
</body>
<style>
    .card_men-sold {
        min-width: 64px;
        line-height: 1.2rem;
        font-weight: 300;
        position: absolute;
        font-size: 1.2rem;
        color: white;
        background-color: #757272;
        border-radius: 2px;
        padding: 4px 7px;
        top: 5%;
        right: 10%;
    }

    .product-sale {
        right: 16px;
        color: #fff;
        position: absolute;
        top: 0px;
        font-size: 18px;
        font-weight: bold;
        z-index: 9;
        color: #fff;
        background: #f00;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
</style>

